@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    
    <h1>ASP<img width="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />NET</h1>
    <p>simple demo for asp.net identity</p>
</div>